body {
    background-color: Thistle;
}
.navbar {
    background-color: #b180b1;
}
.footer {
    background-color: #c59fc5;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.hero{
    text-align: center;
    padding: 80px 20px;
}
.hero h1{
    font-size: 3rem;
    font-weight: bold;
}
.hero p{
    font-size: 1.2rem;
}
.features .card{
    background-color: gray;
    color:white;
    border: none;
    display:flex ;
    align-items: center;
}
.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#watch{
    text-decoration: none;
    color: white;
}
#about{
    background-color: black;
    border-radius: 15px;
    text-align: center;
    color: white;
}
.card{
    text-align: center;
    color: white;  
    background-color: black;
}
.intro{
text-align: center;
padding:50px 20px;
}
intro h1{
font-size: 2.5rem;
font-weight: bold;
}
.anime-card{
    background-color: bisque;
    color: azure;
    border: none;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.anime-card img{
width: 100%;
height: 150px;
object-fit: cover;
border-radius: 8px;
}
.anime-card .btn{
    background-color: darksalmon;
    color: black;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: 5px 10px;
}
.anime-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px black;
}